* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  transition: all 50s linear;
}

.main-container {
  display: grid;
  grid-template-rows: auto auto auto auto auto auto auto;
  width: 100%;
  background: #f7f7f9;
}

.container-1 {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  height: 550px;
  margin-bottom: 0px;
}

:root {
  --header-font: "Poppins";
}

header .section-1 {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0;
  background-color: white;
}
.menu-icon {
  display: flex;
  flex-direction: ltr;
  flex-direction: row;
  list-style: none;
}
.menu-icon li img {
  width: 40px;
  height: 50px;
  margin-right: 20px;
  margin-top: 20px;
}

.menu1 {
  display: none;
  padding-right: 50px;
}

.menu1 li {
  display: inline-block;
  color: black;
  margin: 10px;
  direction: rtl;
}

.section-1 .logo-cont .logo {
  font-family: var(--header-font);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  padding: 14px 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  text-decoration: none;
}

.cont-1-sec-2 {
  background: url(portfolio-images/header-shapes\ mobile@2x.jpg);
  width: 100%;
  background-position-y: 80px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10%;
  margin-bottom: 60px;
  gap: 12px;
  position: absolute;
}

section .section-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}

.tonic-cont h2 {
  width: 295px;
  height: 36px;
  font-family: var(--header-font);
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.section-2 h2 {
  width: 100%;
  height: 150px;
  font-family: var(--header-font);
  font-style: normal;
  font-weight: 900 !important;
  font-size: 40px;
  line-height: 45px;
  display: flex;
  align-items: center;
  color: #172b4d;
  margin-top: 50px;
  margin-bottom: 12px;
}

section .section-2 p {
  width: 100%;
  height: 146px;
  font-family: var(--header-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-bottom: 12px;
}

section .section-2 .connect-cont .connect {
  width: 135px;
  height: 24px;
  font-family: var(--header-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: 1.5rem;
  color: #7f8cff;

  margin-bottom: 4px;
}

section .section-2 .social-container {
  display: flex;
  justify-content: space-between;
  width: 178px;
  padding-left: 0%;
  height: 20px;
}

section .section-2 .social-container .icon {
  font-size: 20px;
  color: white;
  list-style: none;
  padding: 120px auto;
}

/* Work Section */

.container-2 {
  align-items: center;
  padding-left: 20px;
  padding-right: 15px;
  margin: 9%;
  margin-top: 60px;
  width: 80%;
  height: 28%;
  display: grid;
  grid-template-columns: 1fr;
  background: #fff;
  border-radius: 16px;
}
.img-container img {
  width: 89%;
  height: 85%;
}

.sec-content .tonic-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  width: 100%;
}

.education {
  display: flex;
  align-items: center;
  padding: 0;

  width: 78%;
  height: 32px;
  margin-bottom: 10px;
}

.education h5 {
  flex: 1;
  width: 55px;
  height: 16px;
  font-family: var(--header-font);
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.education ul {
  display: flex;
  justify-content: space-between;
  flex: 2;
}

.education ul li {
  font-family: var(--header-font);
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.sec-content .course-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  gap: 8px;
  width: 203px;
  height: 24px;
  margin-top: 12px;
}

.sec-content .course-cont .course {
  font-family: var(--header-font);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  border-radius: 2px;
  background-color: rgba(165, 179, 211, 0.2);
}

.sec-content .course-cont .html {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
}

.sec-content .course-cont .css {
  width: 45px;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
}

.sec-content .course-cont .javascript {
  width: 89px;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
}

button:hover {
  background-color: #6070ff !important;
  transition: all 0.5s ease-in-out;
  color: #fff !important;
}

.btn button,
.btn1 button,
.btn3 button,
.btn-press button {
  align-items: center;
  height: 34px;
  font-family: var(--header-font);
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #fff;
  color: #396df2;
  display: flex;
  flex-direction: row;
  padding: 12px;
  margin-top: 14px;
  border: 1px solid #6070ff;
  border-radius: 8px;
}
.btn-press button {
  width: 100%;
}

.btn button {
  width: 100%;
}

.but button {
  border-radius: 8px;
  align-items: center;
  list-style: none;
  width: 138px;
  height: 30px;
  font-family: var(--header-font);
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #396df2;
  color: #fff;
  border: none;
  margin-top: 23px;
}

/* Addional styling Work section on Mult-Post stories */
.mult {
  align-items: center;
  padding-left: 20px;
  padding-right: 15px;
  margin: 9%;
  margin-top: 60px;
  width: 80%;
  height: 28%;
  display: grid;
  grid-template-columns: 1fr;
  background: #fff;
  border-radius: 16px;
}

.sec-content .post {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  width: 100%;
}

.stories {
  width: 80%;
  font-family: var(--header-font);
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

/* About Myself section */

.container-About {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  padding-bottom: 200px;
  padding-left: 50px;
  position: relative;
  background: #fff;
  margin-top: 600px;
}

.TOP {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 114px 24px 0 24px;
  gap: 12px;
  width: 80%;
}

.TOP h1 {
  width: 90%;
  height: 101px;
  font-family: var(--header-font);
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.TOP .para {
  width: 90%;
  height: 144px;
  font-family: var(--header-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.conn h2 {
  width: 118px;
  height: 24px;
  font-family: var(--header-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-left: 30px;
}
.social{
  padding-right: 50%;
}
.social .btn{
  margin-left: 30px;
}


.media2,
.media1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: center;
  list-style: none;
}
.media2 img,
.media1 img {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}
.media1{
  padding-left: 5px;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 104px 12px;
  margin: 0 24px 0 24px;
  gap: 3px;
  position: relative;
  width: 397px;
  height: 464.15px;
}

.skills #langu {
  height: 24px;
  font-family: var(--header-font);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
  width: 100%;
}

.skills .subjects {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 0;
  gap: 12px;
  width: 100%;
}

.subjects img {
  width: 48px;
  height: 48px;
  border: 1px solid #fff;
  margin: 9px 0 9.72px 12px;
  list-style: none;
}

.subjects .javascri {
  width: 303px;
  background: #f7f7f9;
  border-radius: 8px;
  display: flex;
  font-size: 12px;
  align-items: center;
  gap: 16px;
  font-family: var(--header-font);
  list-style: none;
  color: #253858;
}

.subjects .htm {
  width: 303px;
  font-size: 12px;
  background: #f7f7f9;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 16px;
  font-family: var(--header-font);
  list-style: none;
  color: #253858;
}

.subjects .cs {
  width: 303px;
  font-size: 12px;
  background: #f7f7f9;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 16px;
  font-family: var(--header-font);
  list-style: none;
  color: #253858;
}

.framework {
  width: 100%;
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 24px 0px 24px 12px;
  list-style: none;
}

.framework .frame {
  font-family: var(--header-font);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  width: 80%;
  height: 24px;
  display: flex;
  align-items: center;
}

.vectorline {
  position: absolute;
  display: flex;
  float: left;
  width: 100%;
  padding: 132px 0px 70px 0px;
}
.vectorline2 {
  position: absolute;
  display: flex;
  float: left;
  width: 100%;
  padding: 157px 0px 70px 0px;
}
.skills {
  margin-bottom: 40px;
}

.skils {
  width: 100%;
  height: 72px;
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 24px 0px 24px 12px;
  margin-bottom: 113.85;
  list-style: none;
}

.skils .skii {
  font-family: var(--header-font);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  width: 80%;
  height: 24px;
  display: flex;
  align-items: center;
}

.contact-me {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 65px;
  background: #6070ff;
}

.contact-cont {
  border-top-left-radius: 65px;
  width: 100%;
  padding: 13px 14px 45px 24px;
  background: url(./portfolio-images/header-shapes\mobile.png);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-cont form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-cont h1 {
  font-family: var(--header-font);
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.contact-cont .graph {
  font-family: var(--header-font);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  align-items: center;
  display: flex;
  padding-right: 20%;
  padding-left: 20%;
  justify-content: center;
  text-align: center;
  color: #ebebff;
}

.contact-cont form {
  display: flex;
  align-items: center;
  padding-right: 20%;
  padding-left: 20%;
}

form .input-1 {
  width: 367px;
  height: 48px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  margin: 48px 0 20px 0;
}

form .input-2 {
  width: 367px;
  height: 48px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  margin: 0 0 18px 0;
}

form textarea {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  width: 367px;
  height: 170px;
}

@media screen and (min-width: 768px) {
  .main-container .container-2,
  .mult {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .container-1 {
    margin-bottom: 190px;
  }

  .container-About {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 700px;
  }

  .skills .subjects {
    flex-direction: row;
  }

  .javascri,
  .htm,
  .cs {
    flex-direction: column;
  }

  .menu1 {
    display: flex;
  }

  .section-1 .menu-icon {
    display: none;
  }

  .line-1 {
    bottom: 25.3%;
  }

  .line-2 {
    bottom: 13%;
  }
  section .section-2 .connect-cont .connect {
    margin-top: 0;
  }
  .education ul {
    flex: 0.5;
  }
  .education {
    width: 60%;
  }
  .education h5 {
    flex: 0.2;
  }
  .contact-cont .graph {
    padding-left: 30%;
    padding-right: 30%;
  }
  .conn h2{
    margin-left: 10px;
  }
  .social .btn{
    margin-left: 10px;
  }
  .media2{
   padding-left: 10px;
  }
}
